.application-list-header {
  display: flex;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
  position: sticky;
  top: 45px; /* Adjust based on the height of the search component */
  background-color: white; /* Ensure background is solid */
  z-index: 1; /* Ensure it stays on top */
}

.application-list-header-cell {
  flex: 1;
  padding: 8px;
  text-align: center;
}