.application-detail-container {
  padding: 20px 25px; /* Top/bottom 20px, left/right 25px */
  border-radius: 8px;
  border: 1px solid #ccc; /* Light grey border */
  display: flex;
  flex-direction: column;
  overflow: auto; /* Hide any overflowing content and scrollbars */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 100%;
  box-sizing: border-box;
}

.application-detail-container::-webkit-scrollbar {
    display: none;
}

.application-detail-header {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.application-detail-header h2 {
  margin: 0;
  color: #333;
}

.application-detail-body {
  flex-grow: 1;
  margin-bottom: 15px;
  margin-top: 10px;
}

.application-detail-property {
  display: flex;
  margin-bottom: 8px;
  align-items: flex-start; /* Align items to the start of the cross-axis (left for row, top for column) */
}

.application-detail-property.horizontal {
  flex-direction: row;
}

.application-detail-property.vertical {
  flex-direction: column;
}

.application-detail-property-label {
  font-weight: bold;
  margin-right: 5px;
  color: #555;
}

.application-detail-property.vertical .application-detail-property-label {
  margin-bottom: 3px;
}

.application-detail-property-value {
  font-style: italic;
  color: #777;
  text-align: left;
}

.application-detail-annotations {
  padding-top: 10px;
  border-top: 1px solid #ddd;
  font-size: 0.9em;
  color: #888;
}

.collapsible-section {
  margin-bottom: 10px;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.collapsible-header h3 {
  margin: 0;
  color: #6cadcf;
  font-weight: normal;
}

.collapse-icon {
  font-size: 0.8em;
  color: #888;
}