.applications-container {
  display: flex;
  height: 100%; /* Make the container fill the height of its parent */
  border: 1px solid rgb(108, 240, 81); /* Just to see the main container */
  flex-grow: 1;
}

.application-list-wrapper {
  flex: 1;
  border: 1px solid rgb(108, 240, 81);
}

.application-detail-wrapper {
  flex: 0 0 30%;
  border: 1px solid rgb(108, 240, 81);
}