.application-list-container {
  height: 100%; /* Make the container fill the height of its parent */
  overflow-y: auto;
  padding-right: 15px; /* Add some padding to avoid the scrollbar overlapping the content */
}