.application-list-container {
  height: calc(100% - 40px); /* Slightly reduce height to make last item visible */
  overflow-y: auto;
  padding-right: 15px; /* Add some padding to avoid the scrollbar overlapping the content */  
  padding-bottom: 10px; /* Add padding to the bottom */
  display: flex;
  flex-direction: column;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

/* Hide scrollbar for WebKit browsers */
.application-list-container::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar */
  background: transparent; /* Make the track transparent */
}

.application-list-container::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scrollbar thumb transparent */
}